@{
    ViewData["Title"] = "找回密码";
    Layout = "_LayoutLite";
}
<!-- Forgot Password -->
<div class="row">
    <div class="col-sm-6">

        <div class="form-top">
            OA 办公管理系统
        </div>

        <div class="form-bottom">
            正在建设中...
        </div>

    </div>
</div>