@model RegisterViewModel
@{
    ViewData["Title"] = "用户注册";
}
<!-- Register -->
<div class="row">
    <div class="col-sm-6">

        <div class="form-top">
            OA 办公管理系统
        </div>

        <div class="form-bottom">
            <form id="account" method="post" class="login-form" asp-controller="Account" asp-action="Register">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UserName" class="sr-only"></label>
                    <input asp-for="UserName" class="form-username form-control" placeholder="用户名" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input asp-for="Password" class="form-password form-control" placeholder="密码" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RePassword" class="sr-only"></label>
                    <input asp-for="RePassword" class="form-password form-control" placeholder="确认密码" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsMale" class="sr-only"></label>
                    <input name="IsMale" value="True" />男
                    <input name="IsMale" value="False" />女
                    <span asp-validation-for="IsMale" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn">立即注册</button>
                </div>

                <div class="form-group overflow-hidden">
                    <a action="Login">已有帐户</a>
                </div>
            </form>
        </div>

    </div>
</div>